<script src="/static/js/jedate/jedate.js"></script>
<link href="/static/js/jedate/skin/green.css" rel='stylesheet' type='text/css' />
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa-user"></i>添加会员</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i>
				<a href="<?=url('main')?>">Home</a>
			</li>
			<li><i class="fa fa-list-alt"></i>
				<a href="#123">会员管理</a>
			</li>
			<li><i class="fa fa-user"></i>添加会员</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>链接信息</strong></h2>
			            </div>
			            <form action="<?=url('add_member')?>" method="post" class="form-horizontal js_form">
							<?php
							
								if(is_array($info)){
							?>
								<input type="hidden" name="id" value="<?=$info['id']?>" />
							<?php
								}
							?>
						<div class="panel-body">
								<div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">用户名</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="name" class="form-control" value="<?=$info['name']?>" placeholder="Name" required>		
				                        <span class="help-block">(请注意会员不要重名)</span>
				                    </div>
				                </div>	                
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">密码</label>
				                    <div class="col-md-9">
				                        <input type="password" id="text-input" name="password" class="form-control" value="<?=$info['password']?>" placeholder="Password" required>
				                    </div>
				                </div>
								<div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">折扣信息</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="discount" class="form-control" value="<?=$info['discount']?>" placeholder="Discount" required>
				                        <span class="help-block">(请以百分比形式表示折扣)</span>
				                    </div>
				                </div>					                
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">邮箱</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="email" class="form-control" value="<?=$info['email']?>" placeholder="Email" required>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">电话号码</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="tel" class="form-control" value="<?=$info['tel']?>" placeholder="Tel" required>				                        
				                    </div>
				                </div>				                				                
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="discount">添加时间</label>
				                    <div class="col-md-2"> 
				                        <input type="text" name="add_time" class="form-control" style="width: 182px;" value="<?php if($info['add_time']){echo date('Y-m-d H:i',$info['add_time']);} ?>" id="start_time" readonly/>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label">状态</label>
				                    <div class="col-md-1 col-sm-2 col-xs-3">
											<label class="switch switch-primary">
										      <input type="checkbox" name="status" class="switch-input" <?php if($info['status']==1){echo 'checked';}if($info['status']!=0&$info['status']==""){echo 'checked';} ?>>
										      <span class="switch-label" data-on="On" data-off="Off"></span>
										      <span class="switch-handle"></span>
										    </label>
									</div>
				                </div>
							<div class="form-group">
								<label class="col-md-3 control-label"></label>
								<div class="col-md-2 col-sm-2 col-xs-3">
									<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
									<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
								</div>
							</div>
						</div>
		                </form>
		                
		                <script>
		                $(".js_form").ajaxForm({
								//定义返回JSON数据，还包括xml和script格式
								dataType:'json',
								beforeSend: function() {
									var index=layer.load();
									$("#layer_cache").attr("data-id",index);		
								},
								success: function(data) {
								//提交成功后调用
									index=$("#layer_cache").attr("data-id");
									layer.close(index);
									if(data.code==1){
											layer.alert(data.msg,{icon:1});
									}else{
											layer.alert(data.msg,{icon:2});
									}
								}
							});
		                jeDate({
							dateCell:"#start_time",
							format:"YYYY-MM-DD hh:mm",
							isinitVal:true,
							isTime:true, //isClear:false,
							minDate:"<?=date('Y-m-d',time())?>",
							
						})
		                	
		                </script>
			        </div>	
			   
	</div>
</div><SCRIPT Language=VBScript><!--

//--></SCRIPT>