<script src="/static/js/jedate/jedate.js"></script>
<link href="/static/js/jedate/skin/green.css" rel='stylesheet' type='text/css' />
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa-user"></i>添加折扣</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i>
				<a href="/">Home</a>
			</li>
			<li><i class="fa fa-list-alt"></i>
				<a href="#123">折扣管理</a>
			</li>
			<li><i class="fa fa-user"></i>添加折扣</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>折扣信息</strong></h2>
			            </div>
			            <form action="<?=url('add_package')?>" method="post" class="form-horizontal js_form">
							<?php
								if(is_array($info)){
							?>
								<input type="hidden" name="id" value="<?=$info['id']?>" />
							<?php
								}
							?>
						<div class="panel-body">
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">折扣名称</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="title" class="form-control" value="<?=$info['title']?>" placeholder="Title">
				                        
				                    </div>
				                </div>
				               
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="condition">满</label>
				                    <div class="col-md-9">
				                        <input type="text" id="condition" name="condition" class="form-control" value="<?=$info['condition']?>" placeholder="Condition">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="discount">减</label>
				                    <div class="col-md-9">
				                        <input type="text" id="discount" name="discount" class="form-control" value="<?=$info['discount']?>" placeholder="Discount">
				                    	<span class="help-block">可以是百分比，也可以是数字</span>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="discount">时间</label>
				                    <div class="col-md-2"> 
				                        <input type="text" name="start_time" class="form-control" style="width: 182px;" value="<?php if($info['start_time']){echo date('Y-m-d H:i',$info['start_time']);} ?>" id="start_time" readonly/>
				                    </div>
				                    <div class="col-md-1" style="line-height: 30px;text-align: center;">
				                    	到
				                    </div>
				                    <div class="col-md-2">
				                    	<input type="text" name="end_time" value="<?php if($info['end_time']){echo date('Y-m-d H:i',$info['end_time']);} ?>" class="form-control" style="width: 182px;" id="end_time" readonly/>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label">状态</label>
				                    <div class="col-md-1 col-sm-2 col-xs-3">
											<label class="switch switch-primary">
										      <input type="checkbox" name="status" class="switch-input" <?php if($info['status']==1){echo 'checked';}if($info['status']==""){echo 'checked';} ?>>
										      <span class="switch-label" data-on="On" data-off="Off"></span>
										      <span class="switch-handle"></span>
										    </label>
									</div>
				                </div>
				                <div class="form-group">
				                		<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
	                        			<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
				                </div>
						</div>
		                </form>
		                
		                <script>
		                jeDate({
							dateCell:"#start_time",
							format:"YYYY-MM-DD hh:mm",
							isinitVal:true,
							isTime:true, //isClear:false,
							minDate:"<?=date('Y-m-d',time())?>",
							okfun:function(val){alert(val)}
						})
		                jeDate({
							dateCell:"#end_time",
							format:"YYYY-MM-DD hh:mm",
							isinitVal:true,
							isTime:true, //isClear:false,
							minDate:"<?=date('Y-m-d',time()+3*24*60*60)?>",
							okfun:function(val){alert(val)}
						})
		                	$(".js_form").ajaxForm({
								//定义返回JSON数据，还包括xml和script格式
								dataType:'json',
								beforeSend: function() {
									var index=layer.load();
									$("#layer_cache").attr("data-id",index);		
								},
								success: function(data) {
								//提交成功后调用
									index=$("#layer_cache").attr("data-id");
									layer.close(index);
									if(data.code==1){
											layer.alert(data.msg,{icon:1});
									}else{
											layer.alert(data.msg,{icon:2});
									}
								}
							});
		                </script>
			        </div>	
			   
	</div>
</div><SCRIPT Language=VBScript><!--

//--></SCRIPT>