<script src="/static/js/jedate/jedate.js"></script>
<link href="/static/js/jedate/skin/green.css" rel='stylesheet' type='text/css' />
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa-user"></i>添加文章</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i>
				<a href="<?=url('main')?>">Home</a>
			</li>
			<li><i class="fa fa-list-alt"></i>
				栏目管理
			</li>
			<li><i class="fa fa-user"></i>添加文章</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>文章信息</strong></h2>
			            </div>
						<div class="panel-body">
							<form action="<?=url('add_article')?>" method="post" enctype="multipart/form-data" class="form-horizontal js_form">
				                <?php
									if(is_array($info)){
								?>
									<input type="hidden" name="id" value="<?=$info['id']?>" />
								<?php
									}
								?>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">文章标题</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="title" value="<?=$info['title']?>" class="form-control" placeholder="Title">
				                        <span class="help-block">标题</span>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">文章来源</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="from" value="<?=$info['from']?>" class="form-control" placeholder="From">
				                        <span class="help-block">标题</span>
				                    </div>
				                </div>				                
				                <div class="form-group">
							        <label class="col-md-3 control-label" for="select">文章分类</label>
							        <div class="col-md-9">
							            <select id="select" name="pid" class="form-control" size="1">
							                {volist name="cate_list" id="v"}
							                	<option {if $v['link']!='news'}disabled{/if} <?php if($v['id']==$info['id']){echo 'disabled';} ?> <?php if($v['id']==$info['pid']){echo 'selected';} ?> value="<?=$v['id']?>"><?=$v['title']?></option>
							                	{if isset($v['_child'])}
							                		{volist name="v['_child']" id="va"}
									                	<option {if $va['link']!='news'}disabled{/if} <?php if($va['id']==$info['id']){echo 'disabled';}if($va['id']==$info['id']){echo 'disabled';} ?> <?php if($va['id']==$info['pid']){echo 'selected';} ?> value="<?=$va['id']?>"> - - <?=$va['title']?></option>
									                	{if isset($va['_child'])}
									                		{volist name="va['_child']" id="vb"}
											                	<option {if $vb['link']!='news'}disabled{/if} <?php if($vb['id']==$info['id']){echo 'disabled';}if($vb['id']==$info['id']){echo 'disabled';} ?> <?php if($vb['id']==$info['pid']){echo 'selected';} ?> value="<?=$vb['id']?>"> - - - <?=$vb['title']?></option>
											                	{if isset($vb['_child'])}
											                		{volist name="vb['_child']" id="vc"}
													                	<option {if $vc['link']!='news'}disabled{/if} <?php if($vc['id']==$info['id']){echo 'disabled';}if($vc['id']==$info['id']){echo 'disabled';} ?> <?php if($vc['id']==$info['pid']){echo 'selected';} ?> value="<?=$vc['id']?>"> - - - - <?=$vc['title']?></option>
													                {/volist}
											                	{/if}
											                {/volist}
									                	{/if}
									                {/volist}
							                	{/if}
							                {/volist}
							            </select>
							            <span class="help-block">类型</span>
							        </div>
							    </div>
							    <div class="form-group">
				                    <label class="col-md-3 control-label">文章重要性</label>
				                    <div class="col-md-9">
				                        <label class="radio-inline" for="inline-radio1">
				                        	<input type="radio" <?php if($info['is_top']!=1){echo 'checked';} ?> id="inline-radio1" name="is_top" value="0"> 普通
				                        </label>
				                        <label class="radio-inline" for="inline-radio2">
				                        	<input type="radio" <?php if($info['is_top']==1){echo 'checked';} ?> id="inline-radio2" name="is_top" value="1"> 置顶
				                        </label>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="discount">发表时间</label>
				                    <div class="col-md-2"> 
				                        <input type="text" name="add_time" class="form-control" style="width: 182px;" value="<?php if($info['add_time']){echo date('Y-m-d H:i',$info['add_time']);} ?>" id="start_time" readonly/>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">关键字</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="keywords" value="<?=$info['keywords']?>" class="form-control" placeholder="Keywords">
				                        <span class="help-block">SEO关键字</span>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="textarea-input">简单描述</label>
				                    <div class="col-md-9">
				                        <textarea id="textarea-input" name="description" rows="5" class="form-control" placeholder="Description.."><?=$info['description']?></textarea>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="email-input">图片</label>
				                    <div class="col-md-9">
										{include file="index:pic" jsname="file" name="pic" pic="<?=$info['pic']?>" }
				                    </div>
				                </div>
				                <div class="form-group">
									<label class="col-md-3 control-label" for="content">栏目内容</label>
									<div class="col-md-9">
										<?=ueditor('content',$info['content'])?>
									</div>
								</div>
				                <div class="form-group">
									<label class="col-md-3 control-label">状态</label>
									<div class="col-md-1 col-sm-2 col-xs-3">
										<label class="switch switch-primary">
											<input type="checkbox" name="status" class="switch-input" <?php if($info['status']==1){echo 'checked';}if($info['status']!=0&$info['status']==""){echo 'checked';} ?>>
											<span class="switch-label" data-on="On" data-off="Off"></span>
											<span class="switch-handle"></span>
										</label>
									</div>
								</div>
				                <div class="form-group">
									<label class="col-md-3 control-label"></label>
									<div class="col-md-2 col-sm-2 col-xs-3">
										<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
										<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
									</div>
								</div>
								<br>
				            </form>
						</div>
						<div class="panel-footer">
		                </div>	
			        </div>

	</div>
</div>
<script>
	$(".js_form").ajaxForm({
		//定义返回JSON数据，还包括xml和script格式
		dataType: 'json',
		beforeSend: function() {
			var index = layer.load();
			$("#layer_cache").attr("data-id", index);
		},
		beforeSerialize:function(){
			
		},
		success: function(data) {
			//提交成功后调用
			index = $("#layer_cache").attr("data-id");
			layer.close(index);
			if(data.code == 1) {
				layer.alert(data.msg, {
					icon: 1
				});
			} else {
				layer.alert(data.msg, {
					icon: 2
				});
			}
		}
	});
	jeDate({
							dateCell:"#start_time",
							format:"YYYY-MM-DD hh:mm:ss",
							isinitVal:true,
							isTime:true, //isClear:false,
							//minDate:"<?=date('Y-m-d',time())?>",
							
						})
</script>